<nav class="sidebar" style="background-color:#f1f1f1; margin-top:0;">
	<h4 style="background-color:rgba(0,0,0,.32); padding:4px 6px; margin-top:0; text-align:center;">services</h4>
	<ul class="list-group" style="margin:0;">
		<a [routerLink]="['myprofile']" class="list-group-item" style="background-color:#f1f1f1; color:black; border-bottom: 2px solid rgba(0,0,0,.14);">My Profile <span class="glyphicon glyphicon-chevron-right" style="float:right; "></span></a>
		<a [routerLink]="['accounts']" class="list-group-item" style="background-color:#f1f1f1; color:black; border-bottom: 2px solid rgba(0,0,0,.14);">Accounts <span class="glyphicon glyphicon-chevron-right" style="float:right;"></span></a>
		<a [routerLink]="['benificiaries']" class="list-group-item" style="background-color:#f1f1f1;color:black; border-bottom: 2px solid rgba(0,0,0,.14);">Benificiaries <span class="glyphicon glyphicon-chevron-right" style="float:right;"></span></a>
		<a [routerLink]="['payment']" class="list-group-item" style="background-color:#f1f1f1; color:black; border-bottom: 2px solid rgba(0,0,0,.14)">Payment <span class="glyphicon glyphicon-chevron-right" style="float:right;"></span></a>
		<a [routerLink]="['transfers']" class="list-group-item" style="background-color:#f1f1f1; color:black; border-bottom: 2px solid rgba(0,0,0,.14)">Transfers <span class="glyphicon glyphicon-chevron-right" style="float:right;"></span></a>
	</ul>
	<h4 style="background-color:rgba(0,0,0,.32); padding:4px 6px; margin-top:0; text-align:center;">Admin</h4>
</nav>